html {
  box-sizing: border-box;
  background-color: #fff;
  color: #1d1d1d;
}

a {
  text-decoration: none;
  line-height: 0;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: inherit;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 22px;
  margin-bottom: 0px;
}

/* HEADER */

.link-login {
  padding: 14px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px;
  cursor: pointer;
  user-select: none;
}

.link-login:hover {
  background-color: #f2f2f2;
}

.link-basket {
  padding: 24px 8px;
  border: none;
  cursor: pointer;
  user-select: none;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header a {
  display: block;
}

.header ul {
  margin: 0;
  padding: 0;
}

.header li {
  list-style: none;
}

.header li:not(:first-child) {
  margin-left: 16px;
}

/* MAIN */

.main {
  margin-top: 100px;
}

.main li {
  list-style: none;
}

.list-rest {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.rest-card {
  height: 366px;
  margin-top: 16px;
  padding: 0 8px;
  border: 1px solid olive;
}

.rest-card-container {
  cursor: pointer;
  height: 100%;
}

.rest-card-container:hover {
  background-color: #f2f2f2;
}

.rest-card h5 {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 2px;
  line-height: 24px;
}

.rest-card ul {
  display: inline-block;
  font-size: 14px;
  color: #626262;
  padding: 0;
  margin: 2px 0;
  line-height: 21px;
}

.rest-card li {
  margin: 2px 0;
  display: inline;
  list-style: none;
}

.rest-card li:not(:first-child)::before {
  content: "•";
  padding-right: 2px;
}

.rest-card p {
  margin: 0;
  font-size: 13px;
}

.rest-card img {
  display: block;
  width: 100%;
  max-height: 256px;
}

.input-search-rest {
  border: none;
  width: 100%;
  color: rgb(145, 145, 145);
  border-bottom: 1px solid rgb(220, 220, 220);
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
  line-height: 24px;
  font-size: 16px;
  transition: border-bottom 0.1s ease, margin-bottom 0.1s ease;
}

.input-search-rest::placeholder {
  color: rgb(196, 196, 196);
  color: rgba(98, 98, 98, 0.5);
}

.input-search-rest:focus {
  outline: none;
  border-bottom: 2px solid rgb(165, 165, 165);
  margin-bottom: -1px;
}

/* FOOTER */

.footer {
  margin-top: 16px;
  padding-top: 16px;
  background-color: #262626;
  color: #fff;
  font-size: 13px;
}

.footer-section {
  border-bottom: 1px solid #fff;
  padding-bottom: 40px;
  padding-top: 40px;
}

.select-lang {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  padding: 12px 8px;
  margin-bottom: 8px;
  width: 100%;
  font-size: 13px;
  line-height: 15px;
  background: url(media/icons/select-arrow.svg) no-repeat 96% center;
  background-color: #3b3b3b;
  border: none;
  cursor: pointer;
}

.footer li {
  list-style: none;
}

.footer-section-rights {
  font-size: 11px;
}

.social {
  margin-top: 24px;
}

.hashtag {
  font-size: 16px;
}

.hashtag::before {
  content: "#";
  color: #49A144;
}

.footer-list-socials,
.footer-list-links,
.footer-list-rights,
.footer-sublist-links,
.footer-list-mobileapps {
  padding: 0;
}

.footer-sublist-links-item a:hover,
.footer-list-rights-item a:hover {
  text-decoration: underline;
}

.footer-list-socials-item {
  display: inline;
}

.footer-list-socials-item:not(:first-child) {
  margin-left: 8px;
}

.footer-list-links-item:not(:last-child) {
  margin-bottom: 24px;
}

.footer-sublist-links-item:not(:first-child) {
  margin-top: 24px;
}

.footer-list-mobileapps-item img {
  display: block;
}

.footer-list-mobileapps-item:not(:first-child) {
  margin-left: 5%;
}

.footer-list-rights {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-list-rights-item {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* BUTTON UP */

.btn-up {
  position: fixed;
  right: 16px;
  bottom: 24px;
  background: url(media/icons/btn-up-arrow.svg) no-repeat center center;
  background-color: #49A144;
  width: 64px;
  height: 64px;
}

@media only screen and (min-width: 576px) {
  .btn-up {
    width: 80px;
    height: 80px;
  }
}